<template>
    <form v-on:submit.prevent="updateAvatar">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">CHANGE AVATAR</h3>
                <div class="block-options">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Submit
                    </button>
                    <button type="reset" class="btn btn-sm btn-secondary">
                        Reset
                    </button>
                </div>
            </div>
            <div class="block-content">
                <div class="row justify-content-center py-sm-3 py-md-5">
                    <div class="col-sm-10 col-md-4">
                        <!--<div class="block-content">-->
                            <div class="media font-size-sm">
                                <a class="img-link mr-2" href="javascript:void(0)">
                                    <img style="margin-left:100%;width:120px;height:120px;" class="img-avatar img-avatar-thumb" v-bind:src="me.avatar" alt="">
                                </a>
                            </div>
                        <!--</div>-->
                    </div>
                    <div class="col-sm-10 col-md-8">
                        <div class="form-group">
                            <label class="d-block" for="avatar">File Input</label>
                            <input type="file" id="avatar" name="avatar" @change="initAvatar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "Avatar",
        data() {
            return {
                me: {
                  avatar: '/media/avatars/avatar0.jpg'
                },
                form: new Form({
                    avatar: '/media/avatars/avatar0.jpg'
                })
            }
        },
        methods: {
            initAvatar: function(e) {
                // alert('initAvatar')
                let file = e.target.files[0];
                let reader = new FileReader();
                reader.onloadend = (e) => {
                    this.form.avatar = reader.result;
                    this.me.avatar = reader.result;
                    // this.avatarForm.avatar = reader.result;
                    // console.log(this.me);
                }
                reader.readAsDataURL(file);
            },
            updateAvatar: function() {
                axios.put('/api/accounts/update_avatar', this.form)
                    .then( d => {
                        this.$swal('Good Job!',
                            'Your avatar has been updated!',
                            'success');
                    }).catch(({data}) => {
                        this.$swal('Oops!',
                            'Unable to update avatar!',
                            'error');
                    });
            }
        }
    }
</script>

<style scoped>

</style>