<template>
    <div style="width:72px;margin:auto;">
        <img class="img-fluid" v-bind:src="avatar" width="94" v-on:click="viewDetails">
        <div class="row" style="font-size:12px;">
            <div class="col-md-12" ><strong>{{name}}</strong></div>
            <div v-if="name" class="col-md-6" style="font-size: 10px;">L:{{left}}</div>
            <div v-if="name" class="col-md-6" style="font-size: 10px;">R:{{right}}</div>
            <div v-if="name" class="col-md-6" style="font-size: 10px;">LP:{{lpoints}}</div>
            <div v-if="name" class="col-md-6" style="font-size: 10px;">RP:{{rpoints}}</div>
        </div>
        <view-details ref="viewDetails" >
            <template v-slot:header>
                <h3 class="block-title">{{name}}</h3>
            </template>
            <template v-slot:content>
                <div class="col-md-12">
                    <div class="col-md-4 offset-md-4">
                        <img data-v-f96677a0="" width="94" class="img-fluid" v-bind:src="avatar">
                    </div>
                </div>
                <div class="row" v-if="!showForm">
                    <div class="col-md-6" style="padding:15px;"><strong>Left:</strong>{{left}}</div>
                    <div class="col-md-6" style="padding:15px;"><strong>Right:</strong>{{right}}</div>
                </div>

                <div v-if="!isNewAcct && showForm" class="col-md-12">
                    <form action="be_blocks_forms.html" method="POST" style="text-align: left">
                        <div class="block">
                            <div class="block-content">
                                <div class="row justify-content-center py-sm-3 py-md-5">
                                    <div class="col-sm-10 col-md-8">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox custom-control-primary">
                                                <input @click="toggleNew" type="checkbox" class="custom-control-input" id="toggleNewAcct" name="isNewAcct">
                                                <label class="custom-control-label" for="toggleNewAcct">Is this a new account?</label>
                                            </div>
                                        </div>

                                        <div class="form-group" v-if="accountsData < 7">
                                            <label class="d-block">Select Position</label>
                                            <div class="custom-control custom-radio custom-control-inline custom-control-lg">
                                                <input  v-model="isNewNodeForm.position" type="radio" class="custom-control-input" id="lft" name="position" value="lft" checked="">
                                                <label class="custom-control-label" for="lft">Left</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline custom-control-lg">
                                                <input v-model="isNewNodeForm.position"type="radio" class="custom-control-input" id="rgt" name="position" value="rgt">
                                                <label  class="custom-control-label" for="rgt">Right</label>
                                            </div>
                                        </div>

                                        <div class="form-group" v-if="accountsData < 7">
                                            <label>Select Package</label>
                                            <div class="custom-control custom-radio custom-control-lg mb-1" v-if="packages.SP">
                                                <input v-model="isNewNodeForm.package_id" type="radio" class="custom-control-input" id="starter" name="package" checked="" value="1">
                                                <label class="custom-control-label" for="starter">Starter</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-lg mb-1" v-if="packages.BP">
                                                <input v-model="isNewNodeForm.package_id" type="radio" class="custom-control-input" id="business" name="package" value="2">
                                                <label class="custom-control-label" for="business">Builder</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-lg mb-1" v-if="packages.AP">
                                                <input v-model="isNewNodeForm.package_id" type="radio" class="custom-control-input" id="advance" name="package" value="3">
                                                <label class="custom-control-label" for="advance">Advance</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div v-if="isNewAcct && showForm" class="col-md-12">
                    <form action="be_blocks_forms.html" method="POST" style="text-align: left">
                        <div class="block">
                            <div class="block-content">
                                <div class="row justify-content-center py-sm-3 py-md-5">
                                    <div class="col-sm-10 col-md-8">
                                        <div class="form-group">
                                            <label for="firstname">Firstname</label>
                                            <input v-model="isNewAcctForm.firstname" type="text" class="form-control form-control-alt" id="firstname" name="firstname" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname">Lastname</label>
                                            <input v-model="isNewAcctForm.lastname" type="text" class="form-control form-control-alt" id="lastname" name="lastname" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input v-model="isNewAcctForm.username" type="text" class="form-control form-control-alt" id="username" name="username" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input v-model="isNewAcctForm.password" type="password" class="form-control form-control-alt" id="password" name="password" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="password_confirmation">Confirm Password</label>
                                            <input v-model="isNewAcctForm.password_confirmation" type="password" class="form-control form-control-alt" id="password_confirmation" name="password_confirmation" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email Address</label>
                                            <input v-model="isNewAcctForm.email" type="text" class="form-control form-control-alt" id="email" name="email" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input v-model="isNewAcctForm.phone" type="text" class="form-control form-control-alt" id="phone" name="email" autocomplete="off">
                                        </div>

                                        <div class="form-group">
                                            <label class="d-block">Select Position</label>
                                            <div class="custom-control custom-radio custom-control-inline custom-control-lg">
                                                <input v-model="isNewAcctForm.position" type="radio" class="custom-control-input" id="lft1" name="position" value="lft" checked="">
                                                <label class="custom-control-label" for="lft1">Left</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline custom-control-lg">
                                                <input v-model="isNewAcctForm.position" type="radio" class="custom-control-input" id="rgt1" name="position" value="rgt">
                                                <label class="custom-control-label" for="rgt1">Right</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Select Package</label>
                                            <div class="custom-control custom-radio custom-control-lg mb-1" v-if="packages.SP">
                                                <input  v-model="isNewAcctForm.packageId" type="radio" class="custom-control-input" id="starter1" name="package" checked="" value="1">
                                                <label class="custom-control-label" for="starter1">Starter</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-lg mb-1" v-if="packages.BP">
                                                <input v-model="isNewAcctForm.packageId" type="radio" class="custom-control-input" id="business1" name="package" value="2">
                                                <label class="custom-control-label" for="business1">Business</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-lg mb-1" v-if="packages.AP">
                                                <input v-model="isNewAcctForm.packageId" type="radio" class="custom-control-input" id="advance1" name="package" value="3">
                                                <label class="custom-control-label" for="advance1">Advance</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </template>
            <template v-slot:footer>
                <button v-if="showForm && isNewAcct" @click="addNewAcct" type="button" class="btn btn-sm btn-primary">Save</button>
                <button v-if="showForm && !isNewAcct && accountsData < 7" @click="addNewNode" type="button" class="btn btn-sm btn-primary">Save</button>
                <button v-if="!showForm && packages.total > 0" @click="addForm" type="button" class="btn btn-sm btn-primary">Add Account</button>
                <button v-if="!showForm" v-on:click="videwNode" type="button" class="btn btn-sm btn-primary">View Downlines</button>
                <!--<button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-check mr-1"></i>Ok</button>-->
            </template>
        </view-details>
    </div>
</template>

<script>

    import modal from '../../Common/Modal/Modal';

    export default {
        name: "NodeUser",
        components: {
            'view-details': modal
        },
        data() {
            return  {
                showForm: false,
                isNewAcct: false,
                isNewAcctForm: new Form({
                    position: 'lft',
                    nodeId: '',
                    packageId: 1,
                    username: '',
                    email: '',
                    phone: '',
                    password: ''
                }),
                isNewNodeForm: new Form({
                    position: 'lft',
                    nodeId: '',
                    package_id: 1,
                })

            }
        },
        props: {
            nodeId: 0,
            name: '',
            balance: 0.00,
            left: 0.00,
            right: 0.00,
            points: 0.00,
            lpoints: 0,
            rpoints: 0,
            avatar: '',
            nodeData: {},
            codesData: {},
            accountsData: 0,
        },
        mounted() {
        },
        computed: {
            packages: function() {
                return JSON.parse(this.codesData);
            }
        },
        methods: {
            viewDetails: function() {
                // alert(this.nodeId);
                let element = this.$refs.viewDetails.$el;
                $(element).modal('show');
            },
            videwNode: function(node) {
                if( this.name == 'You') return;
                window.location.href = '/genealogy/' + this.name;
            },
            closeModal() {
                let element = this.$refs.viewDetails.$el
                $(element).modal('hide');
            },
            addForm: function () {
                this.showForm = !this.showForm;
            },
            addNewNode: function() {

                this.isNewNodeForm.nodeId = this.nodeId;


                this.$swal.fire({
                    title: 'Are you sure you want to add another head?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, add it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/genealogy',this.isNewNodeForm)
                            .then(({data}) => {
                                this.$swal.fire(
                                    'Good job!',
                                    'Your new node has been created!',
                                    'success'
                                ).then(() => {
                                    window.location.href = "/genealogy";
                                });
                            }).catch(() => {
                            this.$swal.fire(
                                'Oops!',
                                'Unable to complete request',
                                'error'
                            );
                        });
                    }
                })

            },
            addNewAcct: function() {
                this.isNewAcctForm.nodeId = this.nodeId;
                console.log(this.isNewAcctForm);
                axios.post('/api/accounts',this.isNewAcctForm)
                    .then(({data}) => {
                        this.$swal.fire(
                            'Good job!',
                            'Your new downline has been activated!',
                            'success'
                        ).then(() => {
                            window.location.href = "/genealogy";
                        });
                    }).catch(({data}) => {
                    this.$swal.fire(
                        'Oops!',
                        'Unable to process your request!',
                        'error'
                    );
                });
            },
            toggleNew: function() {
                this.isNewAcct = !this.isNewAcct;
            }
        }
    }
</script>

<style scoped>

</style>