<template>
    <form>
        <div class="form-group">
            <label>{{description}}</label>
            <div class="custom-file">
                <input v-if="showInput && !uploading" v-on:change.prevent="initFile" type="file" class="custom-file-input js-custom-file-input-enabled" data-toggle="custom-file-input">
                <label v-if="showInput && !uploading" class="custom-file-label" >Choose file</label>
                <p v-if="!showInput" style="color:green" class="font-size-sm">File Image {{description}} has been uploaded and pending for review.</p>
                <div v-if="uploading" class="col-6 col-md-3 offset-sm-3">
                        <i class="fa fa-2x fa-sun fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "DocumentUpload",
        props: {
            label: "",
            description: ""
        },
        data() {
            return {
                form: new Form({
                    fileDocument: '',
                    fileDescription: ''
                }),
                showInput: true,
                uploading: false
            }
        },
        mounted() {
            this.form.fileLabel = this.label;
        },
        methods: {
            UploadFile: function(file) {

                this.uploading = true;

                axios.post('/api/documents/upload', this.form)
                    .then( d => {
                        this.$swal('Good Job!',
                            'Your document has been uploaded!',
                            'success');
                        this.showInput = false;
                        this.uploading = false;
                    }).catch(({data}) => {
                    this.$swal('Oops!',
                        'Unable to upload document!',
                        'error');
                        this.uploading = false;
                    });
            },
            initFile: function(e) {
                let file = e.target.files[0];
                let reader = new FileReader();
                reader.onloadend = (e) => {
                    this.form.fileDocument = reader.result;
                    this.UploadFile(this.form.fileDocument);
                }
                reader.readAsDataURL(file);
            },

        }
    }
</script>

<style scoped>

</style>