<template>
    <div>
        <div class="col-xl-12">
            <div class="block">
                <div class="block-content">
                    <table class="table table-vcenter">
                        <thead class="thead-light">
                        <tr>
                            <th>Code</th>
                            <th>Subject</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Created At</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="orders.length < 1">
                            <td colspan="5" class="text-center">No records found</td>
                        </tr>
                        <tr v-for="order in orders">
                            <td class="font-size-sm">{{order.code}}</td>
                            <td class="font-size-sm">{{order.subject}}</td>
                            <td class="font-size-sm text-center">{{order.status}}</td>
                            <td class="font-size-sm text-center">{{order.created_at | datePretty}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Orders",
        props: {
            ordersData: {}
        },
        data() {
            return {
                orders: {}
            }
        },
        mounted() {
            this.loadData();
        },
        methods: {
            loadData: function() {
                this.orders = JSON.parse(this.ordersData);
            }
        },
    }
</script>

<style scoped>

</style>