<template>
    <div class="col-xl-12">
        <div class="block">
            <div class="block-content">
                <div class="table-responsive">
                <table class="table table-vcenter">
                    <thead class="thead-light">
                    <tr>
                        <th class="">Description</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Transaction Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="items.length < 1">
                        <td colspan="5" class="text-center">No records found</td>
                    </tr>
                    <tr v-for="transaction in items" :key="transaction.id">
                        <td class="font-w600 font-size-sm">
                            {{ transaction.description }}
                        </td>
                        <td class="font-w600 font-size-sm text-center">
                            {{ transaction.amount | moneyFormat }}
                        </td>
                        <td class="font-w600 font-size-sm text-center">
                            {{ transaction.status }}
                        </td>
                        <td class="font-w600 font-size-sm text-center">
                            {{ transaction.created_at | datePretty }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Transactions",
        props: {
            Transactions: {}
        },
        data() {
            return {
                items: {},
            }
        },
        mounted() {
            this.items = JSON.parse(this.Transactions);
        },
        filters: {
            moneyFormat: function(value) {
                let amount = value;
                let currency = '₱';
                return currency + amount.replace(/\d(?=(\d{3})+\.)/g, '$&,');
            }
        }
    }
</script>

<style scoped>

</style>