<template>
    <form @submit.prevent="btnUpdateForm(userId)">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="firstname" class="form-control" id="first_name" v-model="form.firstname"
                           :class="{ 'is-invalid': form.errors.has('firstname') }" />
                    <has-error :form="form" field="firstname"></has-error>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="lastname" class="form-control" id="last_name" v-model="form.lastname"
                           :class="{ 'is-invalid': form.errors.has('lastname') }" />
                    <has-error :form="form" field="lastname"></has-error>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" v-model="form.email" aria-describedby="emailHelp" placeholder="Enter email"
                           :class="{ 'is-invalid': form.errors.has('email') }" />
                    <small id="emailHelp"  class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <has-error :form="form" field="email"></has-error>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" class="form-control" id="phone" v-model="form.phone"
                           :class="{ 'is-invalid': form.errors.has('phone') }" />
                    <has-error :form="form" field="phone"></has-error>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" name="address" class="form-control" id="address" v-model="form.address"
                           :class="{ 'is-invalid': form.errors.has('address') }" />
                    <has-error :form="form" field="address"></has-error>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" name="city" class="form-control" id="city" v-model="form.city"
                           :class="{ 'is-invalid': form.errors.has('city') }" />
                    <has-error :form="form" field="city"></has-error>
                </div>
                <div class="form-group">
                    <label for="state">State / Province</label>
                    <input type="text" name="state" class="form-control" id="state" v-model="form.state"
                           :class="{ 'is-invalid': form.errors.has('state') }" />
                    <has-error :form="form" field="state"></has-error>
                </div>
                <div class="form-group">
                    <label for="postcode">Postal Code</label>
                    <input type="text" name="postal" class="form-control" id="postcode" v-model="form.postal"
                           :class="{ 'is-invalid': form.errors.has('postal') }" />
                    <has-error :form="form" field="postal"></has-error>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" name="country" class="form-control" id="country" v-model="form.country"
                           :class="{ 'is-invalid': form.errors.has('country') }" />
                    <has-error :form="form" field="country"></has-error>
                </div>
            </div>
        </div>
        <button class="btn btn-primary">Update</button>
        <button type="button" @click.prevent="btnBack(userId)" class="btn btn-primary">Back</button>
    </form>
</template>

<script>
    export default {
        name: "UserEdit",
        props: {
            userData: {},
            userId: {
                required: true,
                type: Number
            }
        },
        data() {
            return {
                form: new Form({
                    firstname: '',
                    lastname: '',
                    username: '',
                    email: '',
                    phone: '',
                    address: '',
                    city: '',
                    state: '',
                    postal: '',
                    country: ''
                }),
            }
        },
        mounted() {
            const user = JSON.parse(this.userData);

            this.form.firstname = user.firstname;
            this.form.lastname = user.lastname;
            this.form.username = user.username;
            this.form.email = user.email;
            this.form.phone = user.phone;
            this.form.address = user.address;
            this.form.city = user.city;
            this.form.state = user.state;
            this.form.postal = user.postal;
            this.form.country = user.country;

        },
        methods: {
            btnBack: function(id) {
                window.location.href = '/users/' + id;
            },
            btnUpdateForm: function(id) {
                this.form.put('/users/' + id)
                    .then(() => {
                        this.$swal(
                            'Good Job!',
                            'Account data has been updated',
                            'success'
                        ).then(() => {
                            window.location.href = '/users/' + id
                        });
                    })
                    .catch(() => {
                        this.$swal(
                            'Oops!',
                            'Missing required fields',
                            'error'
                        );
                    })
            }
        }
    }
</script>