<template>
    <div>
        <table style="text-align:center;margin-top:30px;">
            <tr>
                <td style="width:1210px;height:110px;" colspan="8">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.root.id" v-bind:avatar="nodes.root.avatar" name="You" v-bind:lpoints="nodes.root.lft_pts" v-bind:rpoints="nodes.root.rgt_pts" v-bind:left="nodes.root.lcount"  v-bind:right="nodes.root.rcount" ></node-user>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:60px; height:110px;" colspan="4">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeOne.id" v-on:click="nodeDetails" v-bind:name="nodes.nodeOne.name" v-bind:avatar="nodes.nodeOne.avatar" v-bind:left="nodes.nodeOne.lcount" v-bind:right="nodes.nodeOne.rcount" v-bind:lpoints="nodes.nodeOne.lft_pts" v-bind:rpoints="nodes.nodeOne.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="4">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeTwo.id" v-if="nodes.nodeTwo" v-bind:name="nodes.nodeTwo.name" v-bind:avatar="nodes.nodeTwo.avatar" v-bind:left="nodes.nodeTwo.lcount" v-bind:right="nodes.nodeTwo.rcount" v-bind:lpoints="nodes.nodeTwo.lft_pts" v-bind:rpoints="nodes.nodeTwo.rgt_pts"></node-user>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:60px; height:110px;" colspan="2">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeThree.id" v-on:click="nodeDetails" v-if="nodes.nodeThree" v-bind:name="nodes.nodeThree.name" v-bind:avatar="nodes.nodeThree.avatar" v-bind:left="nodes.nodeThree.lcount" v-bind:right="nodes.nodeThree.rcount" v-bind:lpoints="nodes.nodeThree.lft_pts" v-bind:rpoints="nodes.nodeThree.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="2">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeFour.id" v-on:click="nodeDetails" v-if="nodes.nodeFour" v-bind:name="nodes.nodeFour.name" v-bind:avatar="nodes.nodeFour.avatar" v-bind:left="nodes.nodeFour.lcount" v-bind:right="nodes.nodeFour.rcount" v-bind:lpoints="nodes.nodeFour.lft_pts" v-bind:rpoints="nodes.nodeFour.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="2">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeFive.id" v-on:click="nodeDetails" v-if="nodes.nodeFive" v-bind:name="nodes.nodeFive.name" v-bind:avatar="nodes.nodeFive.avatar" v-bind:left="nodes.nodeFive.lcount" v-bind:right="nodes.nodeFive.rcount" v-bind:lpoints="nodes.nodeFive.lft_pts" v-bind:rpoints="nodes.nodeFive.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="2">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeSix.id" v-on:click="nodeDetails" v-if="nodes.nodeSix" v-bind:name="nodes.nodeSix.name" v-bind:avatar="nodes.nodeSix.avatar" v-bind:left="nodes.nodeSix.lcount" v-bind:right="nodes.nodeSix.rcount" v-bind:lpoints="nodes.nodeSix.lft_pts" v-bind:rpoints="nodes.nodeSix.rgt_pts"></node-user>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:60px; height:110px;" colspan="">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeSeven.id" v-on:click="nodeDetails" v-if="nodes.nodeSeven" v-bind:name="nodes.nodeSeven.name" v-bind:avatar="nodes.nodeSeven.avatar" v-bind:left="nodes.nodeSeven.lcount" v-bind:right="nodes.nodeSeven.rcount" v-bind:lpoints="nodes.nodeSeven.lft_pts" v-bind:rpoints="nodes.nodeSeven.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeEight.id" v-on:click="nodeDetails" v-if="nodes.nodeEight" v-bind:name="nodes.nodeEight.name" v-bind:avatar="nodes.nodeEight.avatar" v-bind:left="nodes.nodeEight.lcount" v-bind:right="nodes.nodeEight.rcount" v-bind:lpoints="nodes.nodeEight.lft_pts" v-bind:rpoints="nodes.nodeEight.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeNine.id" v-on:click="nodeDetails" v-if="nodes.nodeNine" v-bind:name="nodes.nodeNine.name" v-bind:avatar="nodes.nodeNine.avatar" v-bind:left="nodes.nodeNine.lcount" v-bind:right="nodes.nodeNine.rcount" v-bind:lpoints="nodes.nodeNine.lft_pts" v-bind:rpoints="nodes.nodeNine.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeTen.id" v-on:click="nodeDetails" v-if="nodes.nodeTen" v-bind:name="nodes.nodeTen.name" v-bind:avatar="nodes.nodeTen.avatar" v-bind:left="nodes.nodeTen.lcount" v-bind:right="nodes.nodeTen.rcount" v-bind:lpoints="nodes.nodeTen.lft_pts" v-bind:rpoints="nodes.nodeTen.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeEleven.id" v-on:click="nodeDetails" v-if="nodes.nodeEleven" v-bind:name="nodes.nodeEleven.name" v-bind:avatar="nodes.nodeEleven.avatar" v-bind:left="nodes.nodeEleven.lcount" v-bind:right="nodes.nodeEleven.rcount" v-bind:lpoints="nodes.nodeEleven.lft_pts" v-bind:rpoints="nodes.nodeEleven.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeTwelve.id" v-on:click="nodeDetails" v-if="nodes.nodeTwelve" v-bind:name="nodes.nodeTwelve.name" v-bind:avatar="nodes.nodeTwelve.avatar" v-bind:left="nodes.nodeTwelve.lcount" v-bind:right="nodes.nodeTwelve.rcount" v-bind:lpoints="nodes.nodeTwelve.lft_pts" v-bind:rpoints="nodes.nodeTwelve.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeThirteen.id" v-on:click="nodeDetails" v-if="nodes.nodeThirteen" v-bind:name="nodes.nodeThirteen.name" v-bind:avatar="nodes.nodeThirteen.avatar" v-bind:left="nodes.nodeThirteen.lcount" v-bind:right="nodes.nodeThirteen.rcount" v-bind:lpoints="nodes.nodeThirteen.lft_pts" v-bind:rpoints="nodes.nodeThirteen.rgt_pts"></node-user>
                </td>
                <td style="padding-bottom:60px; height:110px;" colspan="">
                    <node-user v-bind:accounts-data="accountsData" v-bind:codes-data="codesData" v-bind:node-id="nodes.nodeFourteen.id" v-on:click="nodeDetails" v-if="nodes.nodeFourteen" v-bind:name="nodes.nodeFourteen.name" v-bind:avatar="nodes.nodeFourteen.avatar" v-bind:left="nodes.nodeFourteen.lcount" v-bind:right="nodes.nodeFourteen.rcount" v-bind:lpoints="nodes.nodeFourteen.lft_pts" v-bind:rpoints="nodes.nodeFourteen.rgt_pts"></node-user>
                </td>
            </tr>
        </table>

    </div>
</template>

<script>



    export default {
        name: "Genealogy",
        props: {
            nodesData: {},
            codesData: {},
            accountsData: 0,
        },
        data() {
            return {
                nodes: {
                    root: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeOne: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeTwo: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeThree: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeFour: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeFive: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeSix: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeSeven: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeEight: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeNine: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeTen: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeEleven: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeTwelve: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeThirteen: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' }),
                    nodeFourteen: new Object({ points: 0, lcount: 0, rcount: 0, avatar: '' })
                }
            }
        },
        mounted() {
            this.loadNodes();
            this.loadCodes();
        },
        methods: {
            objectLength(obj) {
                var result = 0;
                for(var prop in obj) {
                    if (obj.hasOwnProperty(prop)) {
                        result++;
                    }
                }
                return result;
            },
            isObject: function(obj) {
                if(Object.entries(obj).length === 0) return false;
                return true;
            },
            loadView: function(node) {
                // console.log(nodeName);
                // window.location.href = '/genealogy/' + node.name;
            },
            nodeDetails: function() {

            },
            loadCodes: function() {
                console.log(this.codesData);
            },
            loadNodes: function() {

                this.nodes = JSON.parse(this.nodesData);

                this.nodes.root.avatar = (this.objectLength(this.nodes.root)) ? this.nodes.root.user.avatar : '';
                this.nodes.nodeOne.avatar = (this.objectLength(this.nodes.nodeOne)) ? this.nodes.nodeOne.user.avatar : '';
                this.nodes.nodeTwo.avatar = (this.objectLength(this.nodes.nodeTwo)) ? this.nodes.nodeTwo.user.avatar : '';
                this.nodes.nodeThree.avatar = (this.objectLength(this.nodes.nodeThree)) ? this.nodes.nodeThree.user.avatar : '';
                this.nodes.nodeFour.avatar = (this.objectLength(this.nodes.nodeFour)) ? this.nodes.nodeFour.user.avatar : '';
                this.nodes.nodeFive.avatar = (this.objectLength(this.nodes.nodeFive)) ? this.nodes.nodeFive.user.avatar : '';
                this.nodes.nodeSix.avatar = (this.objectLength(this.nodes.nodeSix)) ? this.nodes.nodeSix.user.avatar : '';
                this.nodes.nodeSeven.avatar = (this.objectLength(this.nodes.nodeSeven)) ? this.nodes.nodeSeven.user.avatar : '';
                this.nodes.nodeEight.avatar = (this.objectLength(this.nodes.nodeEight)) ? this.nodes.nodeEight.user.avatar : '';
                this.nodes.nodeNine.avatar = (this.objectLength(this.nodes.nodeNine)) ? this.nodes.nodeNine.user.avatar : '';
                this.nodes.nodeTen.avatar = (this.objectLength(this.nodes.nodeTen)) ? this.nodes.nodeTen.user.avatar : '';
                this.nodes.nodeEleven.avatar = (this.objectLength(this.nodes.nodeEleven)) ? this.nodes.nodeEleven.user.avatar : '';
                this.nodes.nodeTwelve.avatar = (this.objectLength(this.nodes.nodeTwelve)) ? this.nodes.nodeTwelve.user.avatar : '';
                this.nodes.nodeThirteen.avatar = (this.objectLength(this.nodes.nodeThirteen)) ? this.nodes.nodeThirteen.user.avatar : '';
                this.nodes.nodeFourteen.avatar = (this.objectLength(this.nodes.nodeFourteen)) ? this.nodes.nodeFourteen.user.avatar : '';
            },
            computed_points: function(node) {
                return node.lft_pts + node.rgt_pts;
            }
        }
    }
</script>

<style scoped>

</style>