<template>
        <div class="col-xl-12">
            <div class="block">
                <div class="block-content">
                    <table class="table table-vcenter">
                        <thead class="thead-light">
                        <tr>
                            <th class="d-none d-sm-table-cell">Description</th>
                            <th class="text-center">Source</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center">Transaction Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="royalty.length < 1">
                            <td colspan="5" class="text-center">No records found</td>
                        </tr>
                        <tr v-for="_royalty in royalty" :key="_royalty.id">
                            <td class="font-w600 font-size-sm">
                                {{ _royalty.description }}
                            </td>
                            <td class="font-w600 font-size-sm text-center">
                                {{ _royalty.source }}
                            </td>
                            <td class="font-w600 font-size-sm text-center">
                                {{ _royalty.amount }}
                            </td>
                            <td class="font-w600 font-size-sm text-center">
                                {{ _royalty.status }}
                            </td>
                            <td class="font-w600 font-size-sm text-center">
                                {{ _royalty.created_at | datePretty }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--<div class="row">-->
                <div class="col-sm-6 col-xl-4" style="padding-left: 0;">
                    <a href="/royalty/move" class="btn btn-primary">Move to main wallet</a>
                </div>
            <!--</div>-->

        </div>

</template>

<script>
    export default {
        name: "Royalty",
        props: {
            royaltyData: {}
        },
        data() {
            return  {
                royalty: {}
            }
        },
        mounted() {
            this.loadRoyalty();

        },
        methods: {
            loadRoyalty: function() {
                this.royalty = JSON.parse(this.royaltyData);
                console.log(this.royalty);
            }
        }
    }
</script>

<style scoped>

</style>