<template>
    <div class="col-md-12">
        <form v-on:submit.prevent="submitForm">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title"></h3>
                    <div class="block-options">
                        <button type="submit" class="btn btn-sm btn-success" v-if="payout_data.status == 'PROCESSING'">
                            Mark as complete
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" v-if="payout_data.status == 'COMPLETED'">
                            COMPLETED
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-3 py-md-5">
                        <div class="col-sm-10 col-md-8">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input v-model="fullname" readonly="" type="text" class="form-control form-control-alt" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input v-model="user.phone" readonly="" type="text" class="form-control form-control-alt" id="phone" name="name">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input v-model="payout_data.description" readonly="" type="text" class="form-control form-control-alt" id="description" name="description">
                            </div>
                            <div class="form-group">
                                <label for="request_amount">Payout Request Amount</label>
                                <input v-model="payout_data.amount" readonly="" type="text" class="form-control form-control-alt" id="request_amount" name="amount">
                            </div>
                            <div class="form-group">
                                <label for="fees">Fees</label>
                                <input v-model="more_data.fees" readonly="" type="text" class="form-control form-control-alt" id="fees" name="fees">
                            </div>
                            <div class="form-group">
                                <label for="amount_to_send">Amount To Send</label>
                                <input v-model="more_data.amount" readonly="" type="text" class="form-control form-control-alt" id="amount_to_send" name="amount_to_sent">
                            </div>
                            <div class="form-group">
                                <label for="remittance_service">Via Remittance Service</label>
                                <input v-model="more_data.remittance_service" readonly="" type="text" class="form-control form-control-alt" id="remittance_service" name="remittance_service">
                            </div>
                            <div class="form-group">
                                <label for="status">Status</label>
                                <input v-model="payout_data.status" readonly="" type="text" class="form-control form-control-alt" id="status" name="status">
                            </div>
                            <div class="form-group">
                                <label for="status">NOTE FROM USER</label>
                                <textarea v-model="more_data.payout_details" readonly class="form-control form-control-alt"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="status">REMITTANCE DETAILS</label>
                                <textarea v-model="withdrawalForm.receipt_details" name="receipt_details" class="form-control form-control-alt" rows="4"></textarea>
                            </div>
                            <input v-model="withdrawalForm.wallet_id" type="hidden">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "WithdrawComplete",
        props: {
            payoutData: {},
            moreData: {}
        },
        data() {
            return {
                payout_data: {},
                more_data: {},
                user: {},
                withdrawalForm: new Form({
                    wallet_id: 0,
                    receipt_details: ""
                })
            }
        },
        mounted() {
            this.payout_data = JSON.parse(this.payoutData);
            this.more_data  = JSON.parse(this.moreData);
            this.user = this.payout_data.user;
            this.withdrawalForm.wallet_id = this.payout_data.id;
        },
        computed: {
            fullname: function() {
                return this.user.firstname +' '+ this.user.lastname;;
            }
        },
        methods: {
            submitForm: function() {

                if(this.withdrawalForm.receipt_details == "") {
                    this.$swal.fire(
                        'Oops!',
                        'You need to provide the remittance details!',
                        'warning'
                    );
                    return;
                }


                this.$swal.fire({
                    title: 'Are you sure you want to complete this request?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, complete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/wallet/withdraw-complete',this.withdrawalForm)
                            .then(({data}) => {

                                this.$swal.fire(
                                    'Good Job!',
                                    'The user is notified!',
                                    'success'
                                ).then(() => {
                                    window.location.href = "/wallet/withdraw/process";
                                });

                            });
                    }
                })



            }
        }

    }
</script>

<style scoped>

</style>