<template>
    <div class="block" :class="bgcolor">
        <div class="block-header">
            <h3 class="block-title" :style="textcolor">{{blockTitle}} <small>{{subTitle}}</small></h3>
        </div>
        <div class="block-content">
           <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Block",
        props: {
            blockTitle: '',
            subTitle: '',
            bgcolor: '',
            textcolor: ''
        }
    }
</script>

<style scoped>

</style>