<template>
    <div class="col-xl-12">
        <!-- hide in mobile -->
        <div class="block">
            <div class="block-content">
                <table class="table table-vcenter">
                    <thead class="thead-light">
                    <tr>
                        <th style="width: 50%;">Account Name</th>
                        <th style="width: 100px;">Package</th>
                        <th style="width: 100px;">Balance</th>
                        <th style="width: 100px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="items.length < 1">
                        <td colspan="4" class="text-center">No records found</td>
                    </tr>
                    <tr :key="acct.id" v-for="acct in items">

                        <td class="font-w600 font-size-sm">
                            {{acct.name}}
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge badge-warning">{{ acct.package.name }}</span>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge badge-warning">{{ acct.balance }}</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" v-on:click.prevent="() => { editAccount(acct.id) }" class="btn btn-sm btn-light js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit Client">
                                    <i class="fa fa-fw fa-pencil-alt"></i>
                                </button>
                                <!--<button type="button" class="btn btn-sm btn-light js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Remove Client">-->
                                    <!--<i class="fa fa-fw fa-times"></i>-->
                                <!--</button>-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Accounts",
        props: {
            accounts: {}
        },
        data() {
            return {
                items: {},
            }
        },
        mounted() {
            this.items = JSON.parse(this.accounts);
            console.log(this.items);
        },
        methods: {
            editAccount: function(id) {
                window.location.href = '/accounts/edit/' + id;
            }
        }
    }
</script>

<style scoped>

</style>