<template>
    <div class="col-md-12 mt-5">
        <form action="be_blocks_forms.html" method="POST">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Order Transfer Form</h3>
                    <div class="block-options">
                        <button @click.prevent="submitForm" type="submit" class="btn btn-sm btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-3 py-md-5">
                        <div class="col-sm-10 col-md-8">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input v-model="form.username" type="text" autocomplete="off" class="form-control form-control-alt" id="username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="code">Order Code</label>
                                <input v-model="form.code" type="text" autocomplete="off" class="form-control form-control-alt" id="code" name="code">
                            </div>
                            <div class="form-group">
                                <label for="code">Order Code</label>
                                <select v-model="form.code" class="form-control" id="code" name="code">
                                    <option disabled value="">Please select</option>
                                    <option v-for="order in orders" :key="order.id" v-if="order.status != 'USED'" v-bind:value="order.code">{{order.subject}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "TransferOrder",
        props: {
            ordersData: {}
        },
        data() {
            return {
                form: new Form({
                    username: '',
                    code: ''
                }),
                orders: {}
            }
        },
        mounted() {
            this.loadOrders();
        },
        methods: {
            loadOrders: function() {
                this.orders = JSON.parse(this.ordersData);
                console.log(this.orders);
            },
            submitForm: function() {

                if(this.form.username == '' || this.form.code == '') {
                    this.$swal.fire(
                        'Oops!',
                        'Complete the required fields!',
                        'error'
                    )
                    return;
                }

                axios.post('/api/orders/transfer',this.form)
                    .then(({ data }) => {
                        this.$swal.fire(
                            'Good Job!',
                            'Your request has been transfered!',
                            'success'
                        )
                        console.log(data);
                    })
                    .catch((d) => {
                        this.$swal.fire(
                            'Oops!',
                            'Unable to complete request!',
                            'error'
                        )
                        console.log(e);
                    });
            }
        }
    }
</script>

<style scoped>

</style>