<template>
    <div class="col-md-12 mt-3 mb-5">
        <form @submit.prevent="submitForm">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title"></h3>
                    <div class="block-options">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-sm btn-secondary">
                            Reset
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-3 py-md-5">
                        <div class="col-sm-10 col-md-8">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input v-model="form.username" id="username" type="text" class="form-control form-control-alt" name="username" placeholder="Username of the receiver." autocomplete="off">

                            </div>
                            <div class="form-group">
                                <label for="quantity">Enter Quantity</label>
                                <input v-model="form.quantity" id="quantity" type="number" class="form-control form-control-alt" name="quantity" value="0" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: new Form({
                    quantity: 0,
                    username: ''
                })
            }
        },
        methods: {
            submitForm: function() {

                if(this.form.username == "" || this.form.username == undefined) return;
                if(this.form.quantity == 0 || this.form.quantity == undefined) return;

                axios.post('/api/gifts/transfer',this.form)
                    .then(({data}) => {
                        // console.log(data);
                        this.$swal.fire(
                            'Great!',
                            'Your discount code has been moved!',
                            'success'
                        ).then((e) => {
                            window.location.href = '/gifts';
                        });
                    })
                    .catch((e) => {
                        // console.log(e);
                        this.$swal.fire(
                            'Oops!',
                            'We are unable to process your request!',
                            'error'
                        );
                    });

            }
        }
    }
</script>