<template>
    <div class="col-xl-12">
        <div class="block">
            <div class="block-content">
                <table class="table table-vcenter">
                    <thead class="thead-light">
                    <tr>

                        <th>Product Name</th>
                        <th>SKU</th>
                        <th>Description</th>
                        <th>Selling Price</th>
                        <!--<th>Actions</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="products.length < 1">
                        <td colspan="5" class="text-center">No records found</td>
                    </tr>
                    <tr v-for="p in products">
                        <td class="font-size-sm">{{p.name}}</td>
                        <td class="font-size-sm">{{p.sku}}</td>
                        <td class="font-size-sm">{{p.short_description}}</td>
                        <td class="font-size-sm">{{p.regular_price}}</td>
                        <!--<td></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>
<script>
    export default {
        name: "Products",
        props: {
            productsData: {}
        },
        data() {
            return {
                products: {},
            }
        },
        mounted() {
            this.loadProducts();
        },
        methods: {
            loadProducts() {
                this.products = JSON.parse(this.productsData);
                console.log(this.products);
            }
        }

    }
</script>