<template>
        <div class="col-xl-12">
            <div class="block">
                <div class="block-content">
                    <table class="table table-vcenter">
                        <thead class="thead-light">
                        <tr>

                            <th>Package</th>
                            <th class="d-none d-sm-table-cell" style="width: 15%;">Code</th>
                            <th class="d-none d-sm-table-cell" style="width: 15%;">Value</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="items.length < 1">
                            <td colspan="3" class="text-center">No records found</td>
                        </tr>
                        <tr :key="item.id" v-for="item in items">

                            <td class="font-w600 font-size-sm">
                                {{ item.name }}
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge badge-warning">{{ item.code }}</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <span class="badge badge-warning">{{ item.value }}</span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit Client">
                                        <i class="fa fa-fw fa-pencil-alt"></i>
                                    </button>
                                    <button v-on:click="deletePackage(item.id)" type="button" class="btn btn-sm btn-light js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Remove Client">
                                        <i class="fa fa-fw fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</template>
<script>
    export default {
        props: {
            packages: {}
        },
        data() {
            return {
                items: {}
            }
        },
        mounted() {
            console.log('packages component mounted');
            this.items = JSON.parse(this.packages);
        },
        methods: {
            deletePackage: function(id) {
                let ans = confirm('Are you sure you want to delete this package?');
                if(ans) {
                    axios.delete('api/packages/' + id)
                        .then((d) => {
                            alert('Package has been deleted!');
                            this.loadPackages();
                        }).catch((e) => {
                        alert('Unable to delete package');
                    });
                }
            },
            loadPackages: function() {
                axios.get('api/packages')
                    .then(({data}) => {
                        this.items = data.packages;
                        console.log(this.items);
                    });
            }
        }
    }
</script>