<template>
    <div class="col-xl-12">
        <div class="block">
            <div class="block-content">
                <table class="table table-vcenter">
                    <thead class="thead-light">
                    <tr>
                        <th class="d-none d-sm-table-cell">Code</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="gifts.length < 1">
                        <td colspan="4" class="text-center">No records found</td>
                    </tr>
                    <tr v-for="gift in gifts" :key="gift.id">
                        <td class="font-w600 font-size-sm">
                            {{ gift.code }}
                        </td>
                        <td class="font-w600 font-size-sm text-center">
                            {{ gift.amount }}
                        </td>
                        <td class="d-none d-sm-table-cell text-center" style="width:30%;text-align: center">
                            <span v-if="gift.status == 'VALID'" class="badge badge-success font-size-sm">{{gift.status}}</span>
                            <span v-if="gift.status == 'INVALID'" class="badge badge-danger font-size-sm">{{gift.status}}</span>
                            <span v-if="gift.status == 'USED'" class="badge badge-warning font-size-sm">{{gift.status}}</span>
                        </td>
                        <td class="font-w600 font-size-sm text-center">
                            {{ gift.created_at }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Gifts",
        props: {
            giftsData: {}
        },
        data() {
            return {
                gifts: {},
            }
        },
        mounted() {
            this.gifts = JSON.parse(this.giftsData);
        }
    }
</script>

<style scoped>

</style>