<template>
    <div class="col-md-12 mt-3 mb-5">
        <form @submit.prevent="generateCodes" @keydown="form.onKeydown($event)">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title"></h3>
                    <div class="block-options">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-sm btn-secondary">
                            Reset
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-3 py-md-5">
                        <div class="col-sm-10 col-md-8">
                            <div class="form-group">
                                <label for="quantity">Enter Quantity</label>
                                <input id="quantity" v-model="form.quantity" type="number" :class="{ 'is-invalid': form.errors.has('quantity') }" class="form-control form-control-alt" name="quantity" placeholder="Enter quantity to generate e.g 10">
                                <has-error :form="form" field="username"></has-error>
                            </div>
                            <div class="form-group">
                                <label>Select a package</label>
                                <div class="form-check">
                                    <input v-model="form.package" class="form-check-input" type="radio" id="starter_package" name="package" value="1" checked="checked" >
                                    <label class="form-check-label" for="starter_package">Starter Package</label>
                                </div>
                                <div class="form-check">
                                    <input v-model="form.package" class="form-check-input" type="radio" id="builder_package" name="package" value="2" >
                                    <label class="form-check-label" for="builder_package">Builder Package</label>
                                </div>
                                <!--<div class="form-check">-->
                                    <!--<input v-model="form.package" class="form-check-input" type="radio" id="advance_package" name="package" value="3">-->
                                    <!--<label class="form-check-label" for="advance_package">Advance Package</label>-->
                                <!--</div>-->
                                <has-error :form="form" field="package"></has-error>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: new Form({
                    quantity: 0,
                    package: ''
                })
            }
        },
        mounted() {

        },
        methods: {
            generateCodes: function() {

                if(this.form.quantity < 1) return;
                if(this.form.package == "") return;

                axios.post('/api/codes/generate',this.form)
                    .then(({data}) => {
                        this.$swal.fire(
                            'Great!',
                            'Codes has been update',
                            'success'
                        ).then((e) => {
                            window.location.href = '/codes';
                        });
                    })
                    .catch((e) => {
                        console.log(e);
                    });
            }
        }
    }
</script>

<style scoped>

</style>