<template>
    <div class="col-md-12 mt-3 mb-5">
        <form @submit.prevent="transferCodes" @keydown="form.onKeydown($event)">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title"></h3>
                    <div class="block-options">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-sm btn-secondary">
                            Reset
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-3 py-md-5">
                        <div class="col-sm-10 col-md-8">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input id="username" v-model="form.username" type="text" :class="{ 'is-invalid': form.errors.has('username') }" class="form-control form-control-alt" name="username" placeholder="Username of the receiver." autocomplete="off">
                                <has-error :form="form" field="username"></has-error>
                            </div>
                            <div class="form-group">
                                <label for="quantity">Enter Quantity</label>
                                <input id="quantity" v-model="form.quantity" type="number" :class="{ 'is-invalid': form.errors.has('quantity') }" class="form-control form-control-alt" name="quantity" value="0">
                                <has-error :form="form" field="username"></has-error>
                            </div>
                            <div class="form-group">
                                <label>Select a package</label>
                                <div class="custom-control custom-radio custom-control-lg mb-1">
                                    <input v-model="form.packageId" type="radio" class="custom-control-input" id="example-rd-custom-lg1" name="packageId" value="1" checked="">
                                    <label class="custom-control-label" for="example-rd-custom-lg1">Starter Package</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-lg mb-1">
                                    <input v-model="form.packageId" type="radio" class="custom-control-input" id="example-rd-custom-lg2" name="packageId" value="2">
                                    <label class="custom-control-label" for="example-rd-custom-lg2">Builder Package</label>
                                </div>
                                <!--<div class="custom-control custom-radio custom-control-lg mb-1">-->
                                    <!--<input v-model="form.packageId" type="radio" class="custom-control-input" id="example-rd-custom-lg3" name="packageId" value="3">-->
                                    <!--<label class="custom-control-label" for="example-rd-custom-lg3">Advance Package</label>-->
                                <!--</div>-->
                                <has-error :form="form" field="package"></has-error>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: new Form({
                    quantity: 0,
                    packageId: '',
                    email: '',
                    username: ''
                })
            }
        },
        mounted() {

        },
        methods: {
            transferCodes: function() {

                if(this.form.quantity < 1) return;
                if(this.form.package == "") return;
                if(this.form.username == "") return;

                this.form.post('/api/codes/transfer')
                    .then(({ data }) => {
                        this.$swal.fire(
                            'Great!',
                            'Codes has been update',
                            'success'
                        ).then((e) => {
                            window.location.href = '/codes';
                        });
                    })
                    .catch((e) => {
                        // console.log(e);
                        this.$swal.fire(
                            'Oops!',
                            'We are unable to process your request!',
                            'error'
                        );
                    });

            }
        }
    }
</script>

<style scoped>

</style>