<template>
    <div class="col-xl-12">
        <div class="block">
            <div class="block-content">
                <table class="table table-vcenter">
                    <thead class="thead-light">
                    <tr>
                        <th class="d-none d-sm-table-cell">Code</th>
                        <th class="text-center">Package</th>
                        <th class="text-center">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="items.length < 1">
                        <td colspan="3" class="text-center">No records found</td>
                    </tr>
                    <tr v-for="code in items" :key="code.id">
                        <td class="font-w600 font-size-sm">
                            {{ code.code }}
                        </td>
                        <td class="font-w600 font-size-sm">
                            {{ code.package.name }}
                        </td>
                        <td class="d-none d-sm-table-cell" style="width:30%;text-align: center">
                            <span v-if="code.status == 'VALID'" class="badge badge-success font-size-sm">{{code.status}}</span>
                            <span v-if="code.status == 'INVALID'" class="badge badge-danger font-size-sm">{{code.status}}</span>
                            <span v-if="code.status == 'USED'" class="badge badge-warning font-size-sm">{{code.status}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Codes",
        props: {
            codes: {}
        },
        data() {
            return {
                items: {},
            }
        },
        mounted() {
            this.items = JSON.parse(this.codes);
        }
    }
</script>

<style scoped>

</style>