<template>
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-sm-fill h3 my-2">{{pageTitle}}</h1>
                <nav aria-label="breadcrumb" class="flex-sm-00-auto ml-sm-3">
                    <ol class="breadcrumb breadcrumb-alt">
                        <li class="breadcrumb-item">{{mainMenu}}</li>
                        <li aria-current="page" class="breadcrumb-item">
                            <a href="" class="link-fx">{{subMenu}}</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            pageTitle: '',
            mainMenu: '',
            subMenu: ''
        },
        mounted() {

        }
    }
</script>