<template>
    <div class="col-md-12 mt-5">
        <form action="be_blocks_forms.html" method="POST">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Order Form</h3>
                    <div class="block-options">
                        <button @click.prevent="submitForm" type="submit" class="btn btn-sm btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-3 py-md-5">
                        <div class="col-sm-10 col-md-8">
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input v-model="form.subject" type="text" class="form-control form-control-alt" id="subject" name="subject">
                            </div>
                            <div class="form-group">
                                <label for="subject">Memo</label>
                                <textarea v-model="form.note" class="form-control form-control-alt"></textarea>
                            </div>
                            <h3 class="mt-5">Products</h3>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-3">
                                    <label class="col-sm-3 col-form-label font-size-sm">Quantity</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Scalar</label>
                                <div class="col-sm-3">
                                    <input v-model="form.products.scalar" type="number" class="form-control" name="Scalar" value="0">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mega Rub</label>
                                <div class="col-sm-3">
                                    <input v-model="form.products.mega_rub" type="number" class="form-control" name="mega_rub" value="0">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Coffee</label>
                                <div class="col-sm-3">
                                    <input v-model="form.products.coffee" type="number" class="form-control" name="coffee" value="0">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Vaporeen</label>
                                <div class="col-sm-3">
                                    <input v-model="form.products.vaporeen" type="number" class="form-control" name="vaporeen" value="0">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <Block block-title="TOTAL AMOUNT" bgcolor="bg-success" textcolor="color:#ffffff;">
                                        <h1 style="color:#ffffff;">{{ column_total }}</h1>
                                    </Block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "NewOrder",
        props: {
            productsData: {}
        },
        data() {
            return {
                products: {},
                productLabel: {
                    scalar: {name: 'Scalar', value: 120},
                    mega_rub: {name: 'Mega Rub', value: 90},
                    coffee: {name: 'Coffee', value: 144},
                    vaporeen: {name: 'Vaporeen', value: 90},
                },
                form: new Form({
                    sold: '',
                    subject: '',
                    note: '',
                    products: {
                        scalar: 0,
                        mega_rub: 0,
                        coffee: 0,
                        vaporeen: 0,
                    }
                })
            }
        },
        mounted() {
            this.loadProducts();
        },
        methods: {
            loadProducts: function() {
                this.products = JSON.parse(this.productsData);
            },
            submitForm: function() {

                if(this.form.subject == "") {
                    this.$swal.fire(
                        'Oops!',
                        'Fill the missing required fields!',
                        'error'
                    )
                    return;
                }

                axios.post('/api/orders/',this.form).then(({data}) => {
                    this.$swal.fire(
                        'Good Job!',
                        'New order code has been created!',
                        'success'
                    ).then(() => {
                        window.location.href = '/orders';
                    });
                }).catch(e => {
                    this.$swal.fire(
                        'Oops!',
                        'Unable to complete your request!',
                        'error'
                    )
                });
            }
        },
        computed: {
                scalar_lineTotal: function() {
                    return this.productLabel.scalar.value * this.form.products.scalar;
                },
                mega_rub_lineTotal: function() {
                    return this.productLabel.mega_rub.value * this.form.products.mega_rub;
                },
                coffee_lineTotal: function() {
                    return this.productLabel.coffee.value * this.form.products.coffee;
                },
                vaporeen_lineTotal: function() {
                    return this.productLabel.vaporeen.value * this.form.products.vaporeen;
                },
                column_total: function() {
                    let total = 0;
                    let scalar = this.productLabel.scalar.value * this.form.products.scalar;
                    let mega_rum = this.productLabel.mega_rub.value * this.form.products.mega_rub;
                    let coffee = this.productLabel.coffee.value * this.form.products.coffee;
                    let vaporeen = this.productLabel.vaporeen.value * this.form.products.vaporeen;
                    return scalar + mega_rum + coffee + vaporeen;
                }
        }
    }
</script>

<style scoped>

</style>